@Layout = null;
@using connections
@using connections.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Post;

<div class="card mb-5">
    <div class="card-header bg-dark text-white">
        <p class="m-1">@Model.Title</p>
    </div>
    <div class="card-body">
        @if(Model.Image != null) {
            var src = "data:image;base64," + Convert.ToBase64String(Model.Image);
            <img src="@src" alt="post image" class="img-thumbnail" />
        }
        <p class="description my-3">@Model.Content</p>
    </div>
</div>