@{
    ViewData["Title"] = "Login or Register";
}

<div class="jumbotron bg-dark text-white">
    <h1>Connections</h1>
</div>

<div class="row">
    <partial name="_Register.cshtml" />
    <partial name="_Login.cshtml" />
</div>