@{
    ViewData["Title"] = "Home";
}

@model List<User>; 

<partial name="_Navigation.cshtml" />

<div class="card">
    <div class="card-header bg-dark text-white">
        <h3 class="my-2">People you may know:</h3>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (User u in Model)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 my-5">
                    <div class="card">
                        <div class="card-header bg-info shrink">
                            @{
                                if(u.Avatar == null) {
                                    <img src="~/img/default.webp" alt="user avatar" class="avatar img-thumbnail" />
                                } else {
                                    var src = "data:image;base64," + Convert.ToBase64String(u.Avatar);
                                    <img src="@src" alt="user avatar" class="avatar img-thumbnail" />
                                }
                            }
                        </div>
                        <div class="card-body">
                            <a class="subtle-link" href="/user/@u.UserId"><h5 class="mt-5 mb-2">@u.Name</h5></a>
                            <p>@u.Followers.Count Connection(s)</p>
                            <a class="btn btn-outline-info" href="/connect/@u.UserId?prev=connections/new">Get Connected</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>