@{
    ViewData["Title"] = Model.Name;
}

<partial name="_Navigation.cshtml" />

<partial name="_EditProfile.cshtml" />

<div class="row my-5">
    <div class="col-sm-6">
        <partial name="_ChangePassword.cshtml" />
    </div>
    <div class="col-sm-6">
        <partial name="_DeleteAccount.cshtml" />
    </div>
</div>

